$module-name:'page';

// ------------------------------------------------------------
// Default Styles
// ------------------------------------------------------------
.#{$module-name}{
    width: 100%;

    &__main-menu{
        width: 100%;
    }
}

