{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          browsers: [
            "last 2 versions",
            "> 2%"
          ]
      },
      "debug": true
    }]
  ],
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}
