{
  "presets": [
    "@babel/react",
    [
      "@babel/preset-env",
      {
        "targets": "last 2 versions, > 2%",
        "debug": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-react-jsx",
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}
