{
    "logger":{
        "level":"debug",
        "immediate":true
    },
    "session":{
        "secret":"someblabla",
        "key":"sid",
        "cookie":{
            "path":"/",
            "httpOnly":true,
            "maxAge":null
        }
    },
    "db":{
        "host":"postgres.example.com",
        "port":"5432",
        "database":"dbname",
        "user":"dbuser",
        "password":"dbuserpassword",
        "poolSize":"10"
    },
    "mail": {
      "host": "localhost",
      "port": 25,
      "secure": true,
      "auth": {
        "user": "username",
        "pass": "password"
      },
      "maxConnections": 5,
      "maxMessages": 10,
      "rateLimit": 5
    }
}
